.pagefind-ui__search-clear {
  position: absolute;
  color: var(--pagefind-ui-text);
}

.pagefind-ui__search-input::placeholder {
  opacity: .7;
}

@media (prefers-color-scheme: dark) {
  #search {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
}

.search-space {
  padding-bottom: 10px;
}
